:80 {
    reverse_proxy / {
        to 127.0.0.1:5000
        header_up Host {host}
    }

    reverse_proxy /wallets/* {
        to 127.0.0.1:6660
        header_up Host {host}
    }

    log {
        output file d:/NESS-MICRO-SERVICE/logs/caddy_access.log
        format json
        level DEBUG
    }
}
